ion-icon {
    color: rgb(238, 238, 241);
  }
  
body{
  --collink: #0062c5;
  --colhover: #6f8bdc;
  --colhlght: #a73421;

}

.dark{
    --collink: #569cd6;
    --colhover: #6ab1db;
    --colhlght: #de935f;
}

a:link {color: var(--collink);}
a:visited {color: var(--collink);}
a:hover, a:focus, a:active {color: var(--colhover);}

h1 {
	color: var(--colhlght);
	font-weight: bold;
}