body {
    display: flex;
    height: 100vh;
    background: #262626;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  #endPaths {
    visibility:hidden;
  }
  #startPaths {
      fill: #8cc63f;
  }