/* css styles */
nav{
    font-size: 120%;
}
.navbar-title{
    font-size: 120%;
}

.navbar-container{
    margin: 0% 3% 0% 3%;
}

.about-image.rounded {
    padding:  20px 0% 0% 0%;
}


.about-entity {
    display: flex;
    align-items: center; /* Centre verticalement l'image */
    justify-content: center; /* Centre horizontalement l'image (facultatif) */
    height: 100%; /* Assurez-vous que l'élément parent a une hauteur définie */
}




/* Styles pour les boutons */
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #004555; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #2074a0; /* New background color on hover */
    color: #fff; /* New text color on hover */
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; /* Espacement entre les boutons */
    text-align: center;
}

.paper-list {
    list-style: none;
    padding: 0;
}

.paper-item {
    background-color: var(--colbox);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.paper-title {
    font-size: 22px;
    font-weight: bold;
}

.paper-authors {
    font-size: 16px;
    color: var(--colauthor);
}


.paper-abstract {
    font-size: 16px;
    margin-top: 10px;
    border-left: 2px solid #004555;
    padding-left: 10px;
}

.paper-keywords {
    font-size: 14px;
    color: var(--colkeywords);
}

.download-link {
    padding: .4em .7em;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 2%;
    text-decoration: none;
}


.custom-button {
    padding: 12px 25%;
    margin-top: 10px;
    margin-right: 2%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Change values as needed */
}

.paper-citation {
    color: #777;
}


.navbar-dark{
    background-color: #004555
}

body.quarto-light{
    --colhlght: #B41B31;
    --colbox: #fff;
    --colbutton: #fff;
    --colauthor: #62a37c;
    --colkeywords: #4d2ea5;
}

body.quarto-dark{
    --colhlght: #de935f;
    --colbox: #333333;
    --colbutton: #222222;
    --colauthor: #bdbdbd;
    --colkeywords: #bdbdbd;
}

.about-entity {
    max-width: 400px; /* Limite la largeur à 400 pixels */
    margin: 0 auto; /* centre l'élément horizontalement */
}

.about-image.rounded {
    max-width: 250px; /* Limite la largeur à 400 pixels */
    margin: 0 auto; /* centre l'élément horizontalement */
}

/* Pour les smartphones */
@media only screen and (max-width: 767px) {
    body {
        margin: 0% 0%; /* Centre l'élément horizontalement */
    }
}

/* Pour les écrans plus grands, y compris les tablettes */
@media only screen and (min-width: 768px) {
    body {
        margin: 0% 10%; /* Centre l'élément horizontalement */
    }
}


/* La#tabset-1-1-tab.nav-link.active{
    color: var(--colhlght)
} */
a[id^="tabset-"].nav-link.active {
    color: var(--mermaid-fg-colo);
}

